<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Ganti Password</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="admin/img/favicon.png" rel="icon" />
  <link href="admin/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="admin/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="admin/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="admin/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="admin/vendor/simple-datatables/style.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="admin/css/style.css" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="dashboard" class="logo d-flex align-items-center">
        <img src="admin/img/logo.png" alt="" />
        <span class="d-none d-lg-block">Desa Bendo</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2" id="main-profile"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 id="profile-username"></h6>
              <span id="profile-role"></span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#" onclick="LogOut('{{.url}}login')">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Pengajuan</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="surat-domisili">
              <i class="bi bi-circle"></i><span>Surat Domisili</span>
            </a>
          </li>
          <li>
            <a href="surat-kartu-keluarga">
              <i class="bi bi-circle"></i><span>Surat Kartu Keluarga</span>
            </a>
          </li>
          <li>
            <a href="surat-keterangan-usaha">
              <i class="bi bi-circle"></i><span>Surat Keterangan Usaha</span>
            </a>
          </li>
          <li>
            <a href="surat-kelahiran">
              <i class="bi bi-circle"></i><span>Surat Kelahiran</span>
            </a>
          </li>
          <li>
            <a href="surat-kematian">
              <i class="bi bi-circle"></i><span>Surat Kematian</span>
            </a>
          </li>
          <li>
            <a href="surat-kehilangan">
              <i class="bi bi-circle"></i><span>Surat Kehilangan</span>
            </a>
          </li>
          <li>
            <a href="surat-permohonan-ktp">
              <i class="bi bi-circle"></i><span>Surat Permohonan KTP</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Forms Nav -->

      <li class="nav-item" id="daftarAdmin" style="display: none;">
        <a class="nav-link collapsed" href="daftar-admin">
          <i class="bi bi-gear"></i>
          <span>Daftar Admin</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link" href="daftar-user">
          <i class="bi bi-people"></i>
          <span>Daftar User</span>
        </a>
      </li><!-- End Dashboard Nav -->
    </ul>
  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
          <li class="breadcrumb-item">Users</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ganti Password</h5>

              <div class="row">
                <div class="col-lg-8 m-auto w-50">
                  <div class="form-group mt-4">
                    <label for="name">Password Lama</label>
                    <input type="password" class="form-control" name="password_lama" id="password_lama" required>
                    <div class="invalid-feedback" id="invalid-passlama">Password Lama tidak boleh kosong</div>
                  </div>
                  <div class="form-group mt-4">
                    <label for="name">Password Baru</label>
                    <input type="password" class="form-control" name="password_baru" id="password_baru" required>
                    <div class="invalid-feedback" id="invalid-passbaru">Password tidak boleh kosong</div>
                  </div>
                  <div class="form-group mt-4 mb-5">
                    <label for="name">Konfirm Password</label>
                    <input type="password" class="form-control" name="konfirm_password" id="konfirm_password" required>
                    <div class="invalid-feedback" id="invalid-konfpass">Konfirm password tidak boleh kosong</div>
                    <div class="invalid-feedback" id="invalid-pass">Password dan konfirm password harus sesuai</div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" id="passButton" type="button" onclick="gantiPassword()">Ganti
                      Password</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMades</a>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="admin/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="admin/vendor/chart.js/chart.umd.js"></script>
  <script src="admin/vendor/echarts/echarts.min.js"></script>
  <script src="admin/vendor/quill/quill.min.js"></script>
  <script src="admin/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="admin/vendor/tinymce/tinymce.min.js"></script>
  <script src="admin/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="admin/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    SetProfile()
    const url = '{{.url}}'
    validateToken(url).then((isValid) => {
      console.log(isValid);
      if (!isValid) {
        // RedirectLogin(url + "login")
      }
    })

    function handleKeyPress(event) {
      if (event.key === "Enter") {
        passButton.click(); // Trigger the login button click
      }
    }

    function gantiPassword() {
      let url = '{{.url}}'
      let passLama = document.getElementById("password_lama").value
      let passBaru = document.getElementById("password_baru").value
      let konfPass = document.getElementById("konfirm_password").value
      const loginButton = document.getElementById("loginButton");
      const invalidPassLama = document.getElementById("invalid-passlama");
      const invalidPassBaru = document.getElementById("invalid-passbaru");
      const invalidKonfPass = document.getElementById("invalid-konfpass");
      const invalidPass = document.getElementById("invalid-pass");

      invalidPassLama.style.display = "none";
      invalidPassBaru.style.display = "none";
      invalidKonfPass.style.display = "none";
      invalidPass.style.display = "none";

      if (passLama == "" && passBaru == "" && konfPass == "") {
        invalidPassLama.style.display = "block";
        invalidPassBaru.style.display = "block";
        invalidKonfPass.style.display = "block";
      }

      if (passLama == "") {
        invalidPassLama.style.display = "block";
      }

      if (passBaru == "") {
        invalidPassBaru.style.display = "block";
      }

      if (konfPass == "") {
        invalidKonfPass.style.display = "block";
      }

      if (konfPass != passBaru) {
        invalidPass.style.display = "block";
      }

      if (passBaru != "" && passLama != "" && konfPass != "") {
        const request = {
          password: passBaru,
          old_password: passLama,
      }

        const requestOptions = {
        method: "POST",             // HTTP method
        headers: {                  // Request headers (optional, depends on your API requirements)
          "Content-Type": "application/json", // Specify that you are sending JSON data in the request body
          // Add any other headers if required by your API
          "Authorization": `Bearer ${GetToken()}`
        },
        body: JSON.stringify(request),  // Convert the data to JSON format and include it in the request body
      };

        fetch(url + 'change-admin-password', requestOptions)
          .then((response) => {
            return response.json(); // Parse the response body as JSON
          })
          .then((data) => {
            if (data.code != 200) {
              throw new Error(data.message)
            } else {
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })

              Toast.fire({
                icon: 'success',
                title: 'Password berhasil diganti'
              }).then((result) => {
                // Redirect the user to a new URL after the toast is shown
                localStorage.setItem("username", data.data.username)
                localStorage.setItem("email", data.data.email)
                localStorage.setItem("role", data.data.role)
                localStorage.setItem("token", data.data.token)

                if (data.data.role == "super" || data.data.role == "admin") {
                  window.location.href = `${url}dashboard`;
                } else {
                  window.location.href = `${url}`;
                }
              });
            }

          })
          .catch((error) => {
            // Handle any errors that occurred during the fetch() call or JSON parsing
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })

            Toast.fire({
              icon: 'error',
              title: error.message
            })
          });
      }

    }

  </script>
</body>

</html>